apiVersion: v1
clusters:
- cluster:
    server: {{kubernetes_master_url}}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: anynode@kubernetes
current-context: anynode@kubernetes
kind: Config
preferences: {}
users: []