{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "name": "k8s-proxy",
    "namespace": "kube-system"
  },
  "spec": {
    "hostNetwork": true,
    "volumes": [
      {
        "name": "kubeconfig",
        "hostPath": {
          "path": "{{node_work_root_path}}/kubernetes/config/kubelet.conf"
        }
      },
      {
        "name": "pki",
        "hostPath": {
          "path": "{{node_work_root_path}}/kubernetes"
        }
      }
    ],
    "containers": [
      {
        "name": "kube-proxy",
        "image": "{{kube_proxy_image_name}}",
        "command": [
          "/usr/local/bin/kube-proxy",
          "--kubeconfig=/run/kubeconfig",
          "--v=4"
        ],
        "volumeMounts": [
          {
            "name": "kubeconfig",
            "mountPath": "/run/kubeconfig"
          },
          {
            "name": "pki",
            "readOnly": true,
            "mountPath": "{{node_work_root_path}}/kubernetes/"
          }
        ],
        "securityContext": {
          "privileged": true
        }
      }
    ]
  }
}
