{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "name": "k8s-proxy",
    "namespace": "kube-system"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "kube-proxy",
        "image": "{{kube_proxy_image_name}}",
        "command": [
          "/usr/local/bin/kube-proxy",
          "--master={{kubernetes_master_url}}",
          "--v=4"
        ],
        "securityContext": {
          "privileged": true
        }
      }
    ]
  }
}
