apiVersion: v1
clusters:
- cluster:
    server: http://localhost:8080
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: swq@kubernetes
current-context: swq@kubernetes
kind: Config
preferences: {}
users: []