apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{kubernetes_master_url_tls}}
  name: kubernetes_tls
contexts:
- context:
    cluster: kubernetes_tls
    user: {{kubernetes_cluster_default_user}}
  name: swq@kubernetes
current-context: swq@kubernetes
kind: Config
preferences: {}
users:
- name: {{kubernetes_cluster_default_user}}
  user:
    token: {{kubernetes_cluster_default_token}}